<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My portfolio</title>
</head>
<body>
	<h1>Le nostre foto:</h1>
	<h4><a th:href="@{/login}">LOGIN</a></h4>
	<h4><a th:href="@{/logout}">LOGOUT</a></h4>
	<a th:href="@{/admin/foto/create}">Aggiungi foto</a>
		<form action="/foto/search" method="post">
		<input type="text" name="titolo" th:value="${titolo}">
		<input type="submit" value="search"> 
	</form>
 	<ul>
		<li th:each="foto : ${fotos}" th:object="${foto}" >
			<div>
				<a th:href="@{/foto/{id} (id=*{id})}">
					[[ *{titolo} ]]
				</a>
				-
				<a th:href="@{/admin/foto/delete/{id} (id=*{id})}">Elimina</a>
				-
				<a th:href="@{/admin/foto/edit/{id} (id=*{id})}">Modifica</a>
			</div>
			<img width="150px" th:src="*{url}">
		</li>
	</ul>
</body>
</html>